.container {
  max-width: 1160px;
}

.scroll-styled,
body {
  &::-webkit-scrollbar {
    width: 5px;
    border-bottom-right-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
  }
}