html,
body,
#app {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
}

#app {
  background-color: #efeeed;
  display: flex;
  flex-direction: column;
}

img {
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

// firefox fix 'shaking font inside button'
input[type="button"],
button {
  padding: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

a {
  text-decoration: none;
}

.is-active {
}

// routes transition animation
.fade-enter-active {
  transition: opacity 0.8s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
